<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>GameMaker</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>

<body class="bg-white font-family-karla h-screen">


    <ul class="flex"></ul>
    <nav>



        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" id="loginButton" href="/login">Login</a>
        </li>

        
        <li class="mr-6">
            <a class="text-blue-500 hover:text-blue-800" id="signupButton" href="/signup">Sign up</a>
        </li>

    </nav>
    </ul>


    <div id="gameMessage" class='hidden'>
        <img id="speech" src="/assets/img/speech.png" alt="speech box" />
        <h3><span id="errorMessage"></span></h3>
        <img id="game" src="assets/img/angryBird.png" alt="game" />
    </div>






    <section id="content">

    </section>



    <script src="/assets/loginBundle.js"></script>

</body>

</html>